{% extends "base.html" %}

{% block content %}
{% load static %}

{% load martortags %}

<title>{% block title %} Blog | Developer ID{% endblock %}</title>

<!--Blog Post Preview-->
{% for post in posts %}
  <div class="">
  <div id="home1" class="card">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.description}}</h5>
      <p class="card-text">{{post.content | safe_markdown | slice:150 }}</p><br>
      <br>
      <a href="{% url 'PostDetail' post.slug %}" class="btn btn-primary btn-sm">Read More</a>
    </div>
  </div>
  </div>
<br>
{% endfor %}
{% for post in userposts %}
  <div class="">
  <div id="home1" class="card">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.description}}</h5>
      <p class="card-text">{{post.content | slice:150 }}</p><br>
      <br>
      <a href="#" class="btn btn-primary btn-sm">Read More</a>
    </div>
  </div>
  </div>
<br>
{% endfor %}
<br>
{% for post in posts %}
<div class="card text-center">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.description}}</h5>
    <p class="card-text">{{post.content | safe_markdown | slice:150 }}</p><br>
    <a href="{% url 'PostDetail' post.slug %}" class="btn btn-primary btn-sm">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<br>
{% endfor %}
<br>

{% endblock %}