{% extends "base.html" %}

{% block content %}
{% load static  %}


{% load martortags %}
<div class="jumbotron">
    <h1 class="display-4">Hello, World!</h1>
      <p class="lead">This is an example site using Django, Markdown, and Bootstrap in it</p>
      <hr class="my-4"><p>The site has been deployed to the cloud using Google Cloud, here's the <a href="https://notnoob.com">Demo</a> </p>
      <p class="lead"><a class="btn btn-primary btn-lg" href="https://dev.notnoob.com" role="button">Documentation</a></p>
</div>

{% for post in posts %}
<div class="">
  <div id="home1" class="card">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.description}}</h5>
      <p class="card-text">{{post.content | safe_markdown | slice:250 }}</p>
       <br>
      <a href="{% url 'PostDetail' post.slug %}" class="btn btn-primary btn-sm">Read More</a>
    </div>
  </div>
</div>
<br>
{% endfor %}

<br>


{% endblock %}