{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static  %}
{% block content %}
<title>{% block title %} Login | Developer ID {% endblock %}</title>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
        <h2>Login</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Welcome</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-primary btn-sm" type="submit">Login</button>
          </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Don't have an account? <a href="{% url 'Register' %}">Register Now!</a>
        </small>
      </div>
  </div>
  <div class="col-2"></div>
</div>



<!--
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
-->


<!--  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>


              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>-->

{% endblock %}