{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static  %}
{% block content %}
<title>{% block title %} Register | Developer ID {% endblock %}</title>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
        <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join now and create your first post!</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-primary btn-sm" type="submit">Submit</button>
          </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Already have an account? <a href="{% url 'Login' %}">Login</a>
        </small>
      </div>
  </div>
  <div class="col-2"></div>
</div>

{% endblock %}